*.pydevproject
.gradle/
.project/
.metadata/
bin/
eclipse/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
crash-reports/
run/
out/
logs/
mods/
resourcepacks/
saves/
/options.txt